label{
	color: black;
}
#container{
	margin-top: 10%;
	display: block;
	text-align: center;
}
#l_form{
	border-radius: 5px;
	background-color: #fa5732;
	color: azure;
	display: inline-block;
	text-align: left;
	height: 250px;
	width: 30%;
	text-align: center;
	border: 1px solid black;
	padding: 20px;
}